<div class="box-container">
    <div class="container">
        <div class="row">
            <div #box class="box" data-index="0" (click)="onClick($event)"></div>
            <div #box class="box" data-index="1" (click)="onClick($event)"></div>
            <div #box class="box" data-index="2" (click)="onClick($event)"></div>
        </div>
        <div class="row">
            <div #box class="box" data-index="3" (click)="onClick($event)"></div>
        </div>
        <div class="row">
            <div #box class="box" data-index="4" (click)="onClick($event)"></div>
            <div #box class="box" data-index="5" (click)="onClick($event)"></div>
            <div #box class="box" data-index="6" (click)="onClick($event)"></div>
        </div>
    </div>
</div>